html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: top;
    padding-top: 50%;
}

.input {
    border: 1px solid black;
    padding: 2em 5em;
    border-radius: 30px;
}

li {
    list-style-type: none;
    margin: 1em;
}

span {
    display: inline-block;
    margin: 0 5px;
}

button {
    margin: 0 0 0 5px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}